<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongbaosoft.Android.part01"
    android:versionCode="1"
    android:versionName="1.0.1228" >

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.dongbaosoft.Android.part01.Activity00"
            android:label="@string/app_name" >
        </activity>
        <!--
        <activity
            android:name="com.dongbaosoft.Android.part01.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.dongbaosoft.Android.part01.Activity01"
            android:label="@string/title_activity_activity01" >
        </activity>
        <activity
            android:name="com.dongbaosoft.Android.comm.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dongbaosoft.Android.part02.Activity02Pressbar"
            android:label="@string/title_activity_activity_pressbar" >
        </activity>
        <activity
            android:name="com.dongbaosoft.Android.part02.Activity03dialogActivity"
            android:label="@string/title_activity_activity03dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongbaosoft.Android.comm.ActivityBasic" />
        </activity>
        <activity
            android:name="com.dongbaosoft.Android.part03.Tabview_Listview"
            android:label="@string/title_activity_tabview__listview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.TabActivity" />
        </activity>

        <service android:name="com.dongbaosoft.Android.part03.MyService" >
        </service>

        <activity android:name="com.dongbaosoft.Android.part03.CreateComponent" >
        </activity>
        <activity android:name="com.dongbaosoft.Android.part03.BundleActivity" >
        </activity>
        <activity android:name="com.dongbaosoft.Android.comm.ActivityBasic01" >
        </activity>

        <service android:name="com.dongbaosoft.Android.part03.BundleService" >
        </service>

        <activity
            android:name="com.dongbaosoft.Android.part04.LoginActivity"
            android:label="@string/title_activity_login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dongbaosoft.Android.comm.ActivityBasic" />
        </activity>
        <activity android:name="com.dongbaosoft.Android.part04.FileStore" >
        </activity>
        <activity android:name="com.dongbaosoft.Android.part04.SQLiteTest" >
        </activity>
        <activity
            android:name="com.dongbaosoft.Android.comm.MainCenter"
            android:label="@string/title_activity_main_center" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk android:minSdkVersion="7" />

</manifest>